@import '../../App.scss';

//About me
.aboutMe {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 147px 0;
   width: 100%;


   &__content {
      display: flex;
      padding-top: 5px;

      &_img {
         width: 392px;
         height: 291px;
         padding: 6px 0 0 0px;
      }

      &_text {
         margin-left: 23px;
         word-spacing: 1px;

         h5 {
            margin: 0;
            font-size: 24px;
            line-height: 30px;
            color: $textBlack;
         }

         p {
            color: #4c4b4b;
            font-family: $font;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            margin: 0;
         }

         a {
            text-decoration: none;
            color: $PrimaryColor;
            font-size: 16px;
            line-height: 60px;
            font-weight: bold;
            transition: color 0.1s linear;

            &:hover {
               color: #d24335;
            }
         }
      }
   }

   p:nth-of-type(1) {
      margin-top: 20px;
      margin-bottom: 21px;
   }

   p:nth-of-type(2) {
      margin-bottom: 12px;
   }
}


//about me media
@media screen and (max-width: 768px) {
   .aboutMe {
      display: flex;
      align-items: center;
      min-height: 655px;
      margin: 0;

      &__content {
         padding-top: 5px;
         min-height: 292px;

         &_img {
            width: 255px;
            padding: 0 9px 67px 0;
         }

         &_text {
            margin-left: 22px;
         }
      }
   }

   .aboutMe p:nth-of-type(1) {
      margin-bottom: 26px;
   }
}

@media screen and (max-width: 360px) {
   .aboutMe {
      display: flex;
      align-items: center;

      &__content {
         flex-wrap: wrap;
         height: auto;

         &_img {
            width: 295px;
            margin-left: 23px;
            padding: 0px 8px 35px 0px;
            height: 284px;

         }

         &_text {
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;

            h5 {
               margin-bottom: 17px;
            }
         }
      }
   }

   .aboutMe p:nth-of-type(2) {
      margin-bottom: 9px;
   }

   .aboutMe p:nth-of-type(1) {
      margin-top: 13px;
   }
}