$font: 'Open Sans Regular',
sans-serif;
$PrimaryColor: #ef5d4c;
$SecondaryColor: #007dff;
$BackgroundColor2: #f9f9f3;
$textBlack: #212529;



.App {
   padding-top: 60px;
}

.container {
   position: relative;
   width: 100%;
   margin: 0 auto;
   padding: 0 30px;
}

#aboutMy_title {
   margin: 0px 0px 42px;
}

#users_title {
   margin: 138px 0px 57px;
}

#form_title {
   margin: 0px 0px 17px;
}

#modal-Btn {
   width: 80px;
   height: 38px;
   padding: 0;
}

@media screen and (min-width: 1170px) {
   .container {
      width: 1170px;
   }
}


@media screen and (max-width: 768px) {
   #aboutMy_title {
      margin: 102px 0px 52px;
   }

   #users_title {
      margin: 102px 0px 72px;
      h4{
         margin-top: 11px;
      }
   }

   #form_title {
      margin: 0 0px 18px;
      h4{
         padding-top: 8px;
      }
   }
}


@media screen and (max-width: 360px) {
   .App {
      padding-top: 40px;
   }

   .container {
      padding: 0 15px;
   }

   #aboutMy_title {
      margin: 60px 0px -3px;
   }

   #users_title {
      margin: 122px 0px 0;
      h3{
         padding: 0;
      }
      h4{
         margin: 0;
      }
   }

   #form_title {
      margin: 16px 0px 23px;
      h4{
         max-width: 310px;
         margin: 0;
         padding: 4px;
      }
   }
}